<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="oidc-web.min.js"></script>
    <title>Document</title>
    <style>
        h2{
            text-align:center;
        }
    </style>
</head>
<body>
    <link rel="import" href="card-person.html">
    <link rel="import" href="card.html">
    <link rel="import" href="resource-reader.html">
    <link rel="import" href="sparql-request.html">
    <link rel="import" href="connect-interface.html">
    <link rel="import" href="register.html">
    <link rel="import" href="login.html">
    <link rel="import" href="aclEditor.html">
    
    <h2>Creates a card</h2>
    <card-creator></card-creator>
    <hr>
    <h2>Reads a resource</h2>
    <resource-reader></resource-reader>
    <hr>
    <h2>Edits card</h2>
    <sparql-request></sparql-request>
    <hr><br/>
    <h2>Interface to connect and exchange information while being authentificated</h2>
    <connect-interface></connect-interface>
    <hr><br>
    <h2>Edit acl from input resource by input query</h2>
    <acl-editor></acl-editor>


    <script src="bundle.js"></script>
</body>
</html>