<template id="resource-reader">
    <style>
        #resourceInfo {
            width: 100%;
            margin:0 auto;
            background-color:rgba(90, 90, 90, 0.308);
        }
        #resourceInput {
            margin:0 auto;
            width:80%;
            text-align:center;
            margin-top:20px;
        }
        #title {
            width:100%;
            text-align:center;
        }
        #content {
            width:50%;
            margin: 0 auto;
        }
    </style>
    <div id="resourceInput">
        <label for="name">Nom de la ressource : </label>
        <input type="text" name="name" id="name"><br>
        <label for="select">Sparql Select (optional) :</label>
        <textarea type="text" name="select" id="select"></textarea>
        <button id="submit">Get</button>
    </div>
    <div id="resourceInfo">
        <div id="title"></div>
        <pre id="content"></pre>
    </div>
</template>
<script>
    class ResourceReader extends HTMLElement{
        constructor(){
            super();
            const shadowRoot = this.attachShadow({
                mode: 'open'
            });
            const templateCandidates = document.querySelectorAll('link[rel=import]');
            let template = null;
            for (let templateCandidate of templateCandidates) {
                template = templateCandidate.import.querySelector('#resource-reader');
                if (template != null) {
                    break;
                }
            }
            const instance = template.content.cloneNode(true);
            this.shadowRoot.appendChild(instance);
        }

        connectedCallback(){
            this.shadowRoot.querySelector("#submit").addEventListener('click', e =>{
                let name = this.shadowRoot.querySelector('input[name=name]').value;
                let query = this.shadowRoot.querySelector('textarea[name=select]').value;
                this.postal.publish({
                    channel:'solid',
                    topic:'get-resource',
                    data: {name, query}
                });
            });
        }

        setPostal(postal){
            this.postal = postal;
            this.setPostalChannels();
        }

        setPostalChannels(){
            let done = this.postal.subscribe({
                channel:'solid',
                topic:'done-resource',
                callback:(data, enveloppe) => {
                    let title = this.shadowRoot.querySelector("#title");
                    let content = this.shadowRoot.querySelector("#content");

                    content.textContent = data;
                    title.textContent = "Success";
                }
            });

            let err = this.postal.subscribe({
                channel:'solid',
                topic:'err-resource',
                callback:(data, enveloppe) => {
                    let title = this.shadowRoot.querySelector("#title");
                    let content = this.shadowRoot.querySelector("#content");
                    content.textContent = data;
                    title.textContent = "Error";
                }
            });
        }
    }
    window.customElements.define('resource-reader', ResourceReader);
</script>