<template id="select-request">
    <style>
        #resourceInfo {
            width: 100%;
            margin:0 auto;
            background-color:rgba(90, 90, 90, 0.308);
        }
        #resourceInput {
            margin:0 auto;
            width:80%;
            text-align:center;
            margin-top:20px;
        }
        #title {
            width:100%;
            text-align:center;
        }
        #content {
            width:50%;
            margin: 0 auto;
        }
    </style>
    <div id="resourceInput">
        <label for="name">Nom de la ressource : </label>
        <input type="text" name="name" id="name"><br>
        <label for="select">Sparql Select (optional) :</label>
        <textarea type="text" name="select" id="select"></textarea>
        <button id="submit">Get</button>
    </div>
    <resource-reader></resource-reader>
</template>
<script>
    class SelectRequest extends HTMLElement{
        constructor(){
            super();
            const shadowRoot = this.attachShadow({
                mode: 'open'
            });
            const templateCandidates = document.querySelectorAll('link[rel=import]');
            let template = null;
            for (let templateCandidate of templateCandidates) {
                template = templateCandidate.import.querySelector('#select-request');
                if (template != null) {
                    break;
                }
            }
            const instance = template.content.cloneNode(true);
            this.shadowRoot.appendChild(instance);
            this.reader = this.shadowRoot.querySelector('resource-reader');
        }

        connectedCallback(){
            this.shadowRoot.querySelector("#submit").addEventListener('click', this.fetchResource.bind(this));
        }

        fetchResource(){
            let name = this.shadowRoot.querySelector('input[name=name]').value;
            let query = this.shadowRoot.querySelector('textarea[name=select]').value;
            this.postal.publish({
                channel:'solid',
                topic:'get-resource',
                data: {name, query}
            });
            this.setResponseChannels();
        }

        setPostal(postal){
            this.postal = postal;
        }

        setResponseChannels(){
            let done = this.postal.subscribe({
                channel:'solid',
                topic:'done-resource',
                callback:(data, enveloppe) => {
                    this.reader.display(data);
                }
            });

            let err = this.postal.subscribe({
                channel:'solid',
                topic:'err-resource',
                callback:(data, enveloppe) => {
                    this.reader.display(data);
                }
            });
        }
    }
    window.customElements.define('select-request', SelectRequest);
</script>